img {display: block;margin-left: auto;margin-right: auto;width: 50%;}
title {
  margin: auto;
  width: 50%;
  border: 3px solid slategray;
  padding: 10px;
  background-color: aliceblue;
}
h1 {font-family: 'Noto Serif Display', serif;
    font-weight: bold;

}

h3 {font-family: 'Josefin Sans', sans-serif;
    font-style: italic;

}

h2 {font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
p {font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
